# Base de datos
DATABASE_URL=

# App
APP_URL=

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Mercado Pago sandbox
MP_ACCESS_TOKEN=
NEXT_PUBLIC_MP_PUBLIC_KEY=
MP_WEBHOOK_SECRET=
MP_WEBHOOK_STRICT_SIGNATURE=

# URLs de retorno de Mercado Pago
NEXT_PUBLIC_BACK_URL_SUCCESS=
NEXT_PUBLIC_BACK_URL_FAILURE=
NEXT_PUBLIC_BACK_URL_PENDING=

# API keys entre servicios
BUYER_API_KEY=
SELLER_API_KEY=
SHIPPING_API_KEY=

# URLs de servicios externos
PAYMENTS_API_URL=
SELLER_API_URL=
SHIPPING_API_URL=

# Datos de mocks
SELLER_DEMO_USER_ID=
